.details-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  gap: 1.5rem;
}

ion-toolbar {
  margin-top: 1rem;
  margin-left: 1rem;
}

b {
  margin-left: 0.5rem;
}

/* Yhtenäinen kortti tuotteen nimelle ja tiedoille */
.productdetails {
  background-color: #ffffff;
  border-radius: var(--app-borderradius);
  box-shadow: var(--app-boxshadow);
  padding: 1rem 1rem; /* Sisäinen tila koko laatikolle */
  display: flex;
  flex-direction: column;
}

/* Otsikko ja brändi laatikon sisällä */
h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--app-maintext);
}

h2 {
  margin: 0;
  font-size: var(--app-h1-size);
  font-weight: 700;
  color: var(--app-maintext);
}

/* Listan tyyli kortin sisällä */
ion-list {
  background: transparent; /* Poistaa oletustaustan */
  padding: 0;
}

ion-item {
  --background: transparent; /* TÄRKEÄ: estää harmaan värin */
  --inner-padding-end: 0;
  --padding-start: 0;
  --min-height: 55px;
}

/* Itse tiedot (päiväys, kategoria) */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  width: 100%;
}

.buttons ion-button {
  flex: 1; /* TÄMÄ: Molemmat napit ottavat saman verran tilaa */
  margin: 0; /* Poistaa mahdolliset oletusmarginaalit */
}
