<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="confirmationheader">
      <ion-title> Confirm Email </ion-title>
      <h1>
        Enter the 6-digit code sent to your email to get started with Freshi!
      </h1>
    </div>
  </ion-toolbar>
</ion-header>

<form [formGroup]="confirmation">
  <ion-list>
    <ion-item lines="none" class="field-row">
      <ion-input
        class="freshi-input"
        label="Confirmation Code"
        [formControl]="confirmation.controls.code"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Enter code"
        style="
          --border-radius: 16px;
          --border: var (--app-bordercolor);
          --highlight-color-focused: #4392f1;
          --border-width: 2px;
        "
      ></ion-input>
    </ion-item>
    @if (confirmation.value.code) { Value: {{ confirmation.value.code}} }

    <ion-button (click)="submitConfirmation()">Submit</ion-button>
  </ion-list>
</form>
