<ion-header class="backbutton-header">
  <ion-toolbar>
    <ion-buttons slot="start" class="backbutton">
      <ion-back-button
        text="Back"
        class="back"
        defaultHref="/tabs/welcome"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/icon/freshilogo.svg" class="app-logo" alt="Freshi Logo" />
    <div class="confirmationheader">
      <p>Confirm Email</p>
      <h1>
        Enter the 6-digit code sent to your email to get started with Freshi!
      </h1>
    </div>
  </ion-toolbar>
</ion-header>

<form [formGroup]="confirmation">
  <ion-list>
    <ion-item lines="none" class="field-row">
      <ion-input
        class="freshi-input"
        label="Confirmation Code"
        [formControl]="confirmation.controls.code"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Enter code"
        style="
          --border-radius: 16px;
          --border: var (--app-bordercolor);
          --highlight-color-focused: #4392f1;
          --border-width: 2px;
        "
      ></ion-input>
    </ion-item>
    @if (errorText()) {
    <ion-note color="danger">{{errorText()}}</ion-note>
    }
    <ion-button
      fill="outline"
      style="
        --background: var(--app-backgroundcolor);
        --color: var(--app-calltoactionbutton);
        --border-color: var(--app-calltoactionbutton);
      "
      [disabled]="codeCooldown()"
      (click)="resendCode()"
      >{{codeCooldown() ? 'Sending code...' : 'Resend Code'}}</ion-button
    >

    <ion-button [disabled]="confirmation.invalid" (click)="submitConfirmation()"
      >Submit</ion-button
    >
  </ion-list>
</form>
