<ion-app>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <img
          src="assets/icon/freshilogo.svg"
          alt="Freshi logo"
          class="freshi-logo"
        />
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item lines="none" button routerLink="/tabs/settings">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Settings & Account</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle autoHide="false">
          <ion-item lines="none" button routerLink="/tabs/info">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>App Information</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
