<div>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-buttons class="backbutton" slot="end">
        <ion-menu-toggle>
          <ion-button class="backbutton">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-toolbar>
        <div class="menuheader">
          <img
            src="assets/icon/freshilogo.svg"
            alt="Freshi logo"
            class="freshilogo"
            slot="start"
          />
          <ion-title>Freshi</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <b>Menu</b>
      <ion-list>
        <div class="settings">
          <ion-menu-toggle autoHide="false">
            <ion-item lines="none" button routerLink="/tabs/settings">
              <ion-icon name="settings-outline" slot="start"></ion-icon>
              <h2>Settings & Account</h2>
            </ion-item>
          </ion-menu-toggle>
        </div>
        <div class="information">
          <ion-menu-toggle autoHide="false">
            <ion-item lines="none" button routerLink="/tabs/info">
              <ion-icon
                name="information-circle-outline"
                slot="start"
              ></ion-icon>
              <h2>App Information</h2>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</div>
