.summary-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--app-boxshadow);
  border-radius: var(--app-borderradius);
}
.product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.product-list-subtitle {
  font-size: var(--app-h1-size);
  color: var(--app-h1text);
  margin-left: 0.5rem;
}

.homeheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;

  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;

  text-align: left;
}

ion-header,
ion-toolbar {
  --box-shadow: none;
  box-shadow: none;
}

ion-title {
  text-align: left;
  padding: 0;
}

.homeheader h1 {
  margin: 4px 0 0 0; /* vähän tilaa mutta ei liikaa */
}

.Fresh {
  border-radius: var(--app-borderradius);
  background-color: var(--app-freshcolor);
  box-shadow: var(--app-boxshadowgreen);
}

.expiring {
  border-radius: var(--app-borderradius);
  background-color: var(--app-expiringcolor);
  box-shadow: var(--app-boxshadowyellow);
}
.expired {
  border-radius: var(--app-borderradius);
  background-color: var(--app-expiredcolor);
  box-shadow: var(--app-boxshadowred);
}
.searchbar {
  --background: #ffffff;
  --color: var(--maintext);
  --placeholder-color: var(--maintext);
  --icon-color: var(--maintext);
  --border-radius: 12px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color);
  margin-top: 1rem;
}

@media (min-width: 750px) {
  .homepage {
    width: 100%;
    max-width: 420px;
  }
}

.productcard {
  background-color: var(--app-calltoactionbutton);
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.freshi-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
  flex-shrink: 0;
}

.freshi-title {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  line-height: 1;
  text-align: left;
}
