/*Center the page*/
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-card-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  background-color: var(--app-backgroundcolor);
  margin: 0 1rem;
  box-shadow: var(--app-boxshadow);
  border-radius: var(--app-borderradius);
}
.active-card {
  opacity: 1;
  border: 2px solid var(--app-primary-color, #4392f1);
  border-radius: var(--app-borderradius, 16px);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

ion-item {
  box-shadow: var(--app-boxshadow);
  border-radius: var(--app-borderradius);
}

h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: var(--app-h1-size);
}

h2 {
  margin: 0;
  padding-right: 0.5rem;
  font-size: var(--app-h2-size);
  color: var(--app-h1text);
  padding-bottom: 1.5rem;
}

.summary-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.product-list-subtitle {
  font-size: var(--app-h2-size);
  color: var(--app-h1text);
  margin-left: 0.5rem;
}

ion-toolbar {
  margin-bottom: 1.5rem;
  box-shadow: none;
}

ion-header {
  box-shadow: none;
  box-shadow: var(--app-boxshadow);
  background-color: var(--app-backgroundcolor);
}

.homeheader {
  background-color: var(--app-backgroundcolor);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.5rem;
  text-align: left;
}

.homepage {
  overflow: visible;
}

ion-title {
  text-align: left;
  padding: 0;
}

.Fresh {
  border-radius: var(--app-borderradius);
  background-color: var(--app-freshcolor-faded);
}

.expiring {
  border-radius: var(--app-borderradius);
  background-color: var(--app-expiringcolor-faded);

  animation: expiringPulse 2s infinite;
}
.expired {
  border-radius: var(--app-borderradius);
  background-color: var(--app-expiredcolor-faded);

  animation: expiredPulse 2s infinite;
}

@keyframes expiringPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 203, 17, 0.741);
  }

  70% {
    box-shadow: 0 0 0 12px rgba(255, 120, 120, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 120, 120, 0);
  }
}

@keyframes expiredPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 40, 40, 0.625);
  }

  70% {
    box-shadow: 0 0 0 12px rgba(255, 120, 120, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 120, 120, 0);
  }
}

.searchbar {
  --background: var(--app-backgroundcolor);
  --color: var(--maintext);
  --placeholder-color: var(--maintext);
  --icon-color: var(--maintext);
  --border-radius: 12px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color);
  margin-top: 1rem;
}

@media (min-width: 750px) {
}

ion-item.tuote {
  --background: transparent;
  overflow: visible !important;
  box-shadow: none;
}

ion-item,
ion-item-sliding,
ion-item-options,
ion-item-option,
ion-list {
  overflow: visible;
}

.slider {
  overflow: visible !important;
}

.wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1em;
  padding-right: 1em;
}

ion-item-option[color="danger"] {
  border-radius: 16px;
  margin: 0.25rem;
}

ion-item.tuote {
  --background: transparent; /* Poistaa valkoisen oletustaustan */
  --inner-padding-end: 0px; /* Poistaa Ionicin sisäisen paddingin */
  --padding-start: 0px; /* Poistaa Ionicin alun paddingin */
  background-color: var(
    --app-backgroundcolor
  ); /* Nyt musta väri näkyy läpi koko alalla */
  border-radius: var(--app-borderradius);
  --min-height: 100%;
  overflow: hidden; /* Varmistaa että violetti ei karkaa kulmien yli */
  transition: transform 0.2s;
  &:active {
    transform: scale(0.98);
  }
}

.productcards {
  background-color: var(--app-backgroundcolor2);
  align-items: center;
  width: 100%;
}

app-product-card {
  width: 100%;

  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--app-borderradius);
  box-shadow: var(--app-boxshadow);
  width: 100%;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.freshi-logo {
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  width: 55px;
  height: 55px;
  object-fit: contain;
  flex-shrink: 0;
}

.freshi-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-size: var(--app-title-size);
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
