<ion-content class="homepage">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div
        (click)="router.navigate(['/tabs/info'])"
        slot="start"
        style="display: flex; align-items: center; margin-left: 16px"
      >
        <img
          src="assets/icon/freshilogo.svg"
          alt="Freshi logo"
          class="freshi-logo"
          style="margin-left: -4px"
        />
        <span class="freshi-title">Freshi</span>
      </div>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="summary-card-list">
    <h1>{{ randomGreeting }}</h1>
    <h2>Here is your kitchen's freshness report</h2>
    <div class="summary-cards">
      <app-summary-card
        class="expired"
        icon="alert-circle-outline"
        [amount]="expiredItems()"
        color="danger"
        [class.disabledCard]="!expiredItems()"
        [style.flex-grow]="expiredItems()"
        freshness="Expired"
        [class.active-card]="activeFilter() === 'Expired'"
        (click)="toggleFilter('Expired')"
      ></app-summary-card>
      <app-summary-card
        class="expiring"
        icon="time-outline"
        [amount]="expiringItems()"
        color="warning"
        [class.disabledCard]="!expiringItems()"
        [style.flex-grow]="expiringItems()"
        freshness="Expiring"
        [class.active-card]="activeFilter() === 'Expiring'"
        (click)="toggleFilter('Expiring')"
      ></app-summary-card>
      <app-summary-card
        class="Fresh"
        icon="leaf-outline"
        [amount]="freshItems()"
        color="success"
        [class.disabledCard]="!freshItems()"
        [style.flex-grow]="freshItems()"
        freshness="Fresh"
        [class.active-card]="activeFilter() === 'Fresh'"
        (click)="toggleFilter('Fresh')"
      ></app-summary-card>
      <!-- @if (expiredItems()) {
      <app-summary-card
        class="expired"
        icon="alert-circle-outline"
        [amount]="expiredItems()"
        color="danger"
        [style.flex-grow]="expiredItems()"
        freshness="Expired"
        [class.active-card]="activeFilter() === 'Expired'"
        (click)="toggleFilter('Expired')"
      ></app-summary-card>
      } @if (expiringItems()) {<app-summary-card
        class="expiring"
        icon="time-outline"
        [amount]="expiringItems()"
        color="warning"
        [style.flex-grow]="expiringItems()"
        freshness="Expiring"
        [class.active-card]="activeFilter() === 'Expiring'"
        (click)="toggleFilter('Expiring')"
      ></app-summary-card
      >} @if (freshItems()) {
      <app-summary-card
        class="Fresh"
        icon="leaf-outline"
        [amount]="freshItems()"
        color="success"
        [style.flex-grow]="freshItems()"
        freshness="Fresh"
        [class.active-card]="activeFilter() === 'Fresh'"
        (click)="toggleFilter('Fresh')"
      ></app-summary-card>
      } -->
    </div>
  </div>
  <ion-searchbar
    [(ngModel)]="productSearch"
    class="searchbar"
    placeholder="Search products"
  ></ion-searchbar>

  <div class="product-list">
    <div class="product-list-header">
      <h3>
        <b>Your items</b>
        <span class="product-list-subtitle">
          {{productList().length}} items</span
        >
      </h3>
      <ion-button (click)="syncProducts()" class="filtersbutton"
        >Filters</ion-button
      >
    </div>
    <ion-list class="productcards" lines="none">
      @for (product of productList(); track product.itemId) {
      <div class="wrapper">
        <ion-item-sliding class="slider">
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="deleteItem(product)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item class="tuote" (click)="showDetails(product)">
            <app-product-card
              [expiringDays]="expiringDays"
              [product]="product"
            ></app-product-card>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteItem(product)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      }
    </ion-list>
  </div>
  <ion-fab
    id="add-product-modal"
    slot="fixed"
    vertical="bottom"
    horizontal="center"
  >
    <ion-fab-button (click)="addProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
