<ion-content class="homepage">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="homeheader">
        <img
          src="assets/icon/freshilogo.svg"
          alt="Freshi logo"
          class="freshi-logo"
        />
        <div class="header-text">
          <ion-title class="freshi-title">Freshi</ion-title>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="summary-card-list">
    <h1>{{ randomGreeting }}</h1>
    <h2>Here is your kitchen's freshness report</h2>
    <div class="summary-cards">
      <app-summary-card
        class="expired"
        icon="alert-circle-outline"
        amount="1"
        freshness="Expired"
      ></app-summary-card>
      <app-summary-card
        class="expiring"
        icon="time-outline"
        amount="2"
        freshness="Expiring"
      ></app-summary-card>

      <app-summary-card
        class="Fresh"
        icon="checkmark-circle-outline"
        amount="5"
        freshness="Fresh"
      ></app-summary-card>
    </div>
  </div>
  <ion-searchbar
    [(ngModel)]="productSearch"
    class="searchbar"
    placeholder="Search products"
  ></ion-searchbar>

  <div class="product-list">
    <div class="product-list-header">
      <h3>
        <b>Your items</b>
        <span class="product-list-subtitle">
          {{productList().length}} items</span
        >
      </h3>
      <ion-button class="filtersbutton">Filters</ion-button>
    </div>
    <ion-list class="productcards" lines="none">
      @for (product of productList(); track product.ItemId) {
      <div class="wrapper">
        <ion-item-sliding class="slider">
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="deleteItem(product)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item class="tuote" button (click)="showDetails(product)">
            <app-product-card [product]="product"></app-product-card>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteItem(product)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      }
    </ion-list>
  </div>
  <ion-fab
    id="add-product-modal"
    slot="fixed"
    vertical="bottom"
    horizontal="center"
  >
    <ion-fab-button (click)="addProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
