.summary-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
