<div
  [style.--status-color]="`var(--ion-color-${getColor()}-shade)`"
  class="product-header"
>
  <span class="cardtitle">{{ product()?.productName }}</span>
  @if (!product()?.brand && !product()?.category) {
    <span class="iteminfo">-</span>
  } @else {
    <span class="iteminfo"
      >{{ product()?.brand }} • {{ product()?.category }}</span
    >
  }
</div>

<div class="product-content">
  <div class="expiration-status">
    <ion-chip [color]="getColor()"
      ><ion-icon [name]="getIcon()"></ion-icon>
      @if (lifeLeft() === 0) {
        <span> Today </span>
      } @else if (lifeLeft() < 0) {
        <span> Expired </span>
      } @else {
        <span>{{ lifeLeft() }} days</span>
      }
    </ion-chip>
    <span class="expirationdate">{{ expirationDate() }}</span>
  </div>
</div>
