ion-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expiration-status {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.itemcard {
  box-shadow: var(--app-boxshadow);
  border-radius: var(--app-borderradius);
}
