<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="loginheader">
      <p>Log in</p>
      <h1>Log in to see your saved items and expiration dates!</h1>
    </div>
  </ion-toolbar>
</ion-header>

<form [formGroup]="login">
  <ion-list>
    <ion-item lines="none" class="field-row">
      <ion-input
        class="freshi-input"
        type="email"
        id="email"
        [formControl]="login.controls.email"
        label="Email"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Enter email"
        style="
          --border-radius: 16px;
          --border: var (--app-bordercolor);
          --border-width: 2px;
          --highlight-color-focused: #4392f1;
        "
      ></ion-input>
    </ion-item>
    <ion-item lines="none" class="field-row">
      <ion-input
        class="freshi-input"
        type="password"
        label="Password"
        [formControl]="login.controls.password"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Enter password"
        style="
          --border-radius: 16px;
          --border: var (--app-bordercolor);
          --border-width: 2px;
          --highlight-color-focused: #4392f1;
        "
      ></ion-input>
    </ion-item>
    <ion-button (click)="submitLogin()" [disabled]="login.invalid"
      >Submit</ion-button
    >
  </ion-list>
</form>
