:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.account {
  font-size: var(--app-h1-size);
  color: var(--app-h1text);
}

h1 {
  font-size: var(--app-title-size);
  color: var(--app-maintext);
  padding: 2rem;
  font-weight: 600;
}

.loginbutton {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;

  --color: var(--app-calltoactionbutton);
  --border-color: var(--app-calltoactionbutton);
  --border-width: 1px;
  --border-style: solid;
}
