/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/*@import "@ionic/angular/css/palettes/dark.system.css"; */

/* src/global.scss */

/* src/global.scss */

/* Napit */
ion-button {
  --background: var(--app-calltoactionbutton);
  --color: var(--app-calltoactiontext);
  --margin: var(--app-spacing-md);
  --border-radius: var(--app-borderradius);
}

ion-input {
  margin: var(--app-spacing-md);
}

/* Otsikkopalkki */
ion-title {
  color: var(--app-maintext);
  font-weight: 600;
  font-size: var(--app-title-size);
}

/*H1 otsikot */
h1 {
  color: var(--app-h1text);
  font-size: var(--app-h1-size);
}

b {
  font-size: var(--app-b-size);
  color: var(--app-maintext);
}

p {
  font-size: var(--app-title-size);
  color: var(--app-maintext);
  font-weight: 600;
  margin: 0;
}
