ion-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
}

.registrationheader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  padding: 2rem;
  padding-top: 5rem;
  margin: 0 1rem;
  text-align: center;
}

ion-header,
ion-toolbar {
  --box-shadow: none;
  box-shadow: none;
}

h1 {
  text-wrap: balance;
}
