<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="back"
        class="back"
        default-href="/tabs/welcome"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-wrapper">
    <img src="assets/icon/freshilogo.svg" class="app-logo" alt="Freshi Logo" />
    <div class="registrationheader">
      <p>Sign up for Freshi!</p>
      <h1>Create an account to make the most of your food!</h1>
    </div>

    <form [formGroup]="registration">
      <ion-list>
        <ion-item lines="none" class="field-row">
          <ion-input
            class="freshi-input"
            type="email"
            id="email"
            [formControl]="registration.controls.email"
            label="Email"
            labelPlacement="stacked"
            fill="outline"
            placeholder="Enter email"
          ></ion-input>
        </ion-item>

        @if (emailError()) {
        <ion-note class="field-error" color="danger">{{emailError()}}</ion-note>
        }

        <ion-item lines="none" class="field-row">
          <ion-input
            class="freshi-input"
            type="password"
            label="Password"
            [formControl]="registration.controls.passwordsGroup.controls.password"
            labelPlacement="stacked"
            fill="outline"
            placeholder="Enter password"
          ></ion-input>
          @if (passwordError()) {
          <ion-note color="danger">{{passwordError()}}</ion-note>
          }
        </ion-item>

        <ion-note color="danger">
          Minimum 8 characters, including uppercase and lowercase letters and a
          number.
        </ion-note>

        <ion-item lines="none" class="field-row">
          <ion-input
            class="freshi-input"
            type="password"
            label="Confirm Password"
            [formControl]="registration.controls.passwordsGroup.controls.pconfirm"
            labelPlacement="stacked"
            fill="outline"
            placeholder="Confirm password"
          ></ion-input>
        </ion-item>

        <ion-button
          (click)="submitRegistration()"
          [disabled]="registration.invalid"
        >
          Submit
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
